<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.ewsystem.mapper.WarningsMapper">

    <resultMap id="standPointMap" type="com.hust.ewsystem.DAO.VO.StandPointVO">
        <result property="modelType" column="model_type"/>
        <!-- 映射 points 集合 -->
        <collection property="points" ofType="com.hust.ewsystem.DAO.PO.StandPoint">
            <!-- 主键映射 -->
            <id property="pointId" column="point_id"/>
            <result property="pointLabel" column="point_label"/>
            <result property="pointDescription" column="point_description"/>
            <result property="pointUnit" column="point_unit"/>
            <result property="pointType" column="point_type"/>
        </collection>
    </resultMap>
    <resultMap id="WarningResultMap" type="com.hust.ewsystem.DAO.VO.WarningsVO">
        <id column="warning_id" property="warningId"/>
        <result column="warning_level" property="warningLevel"/>
        <result column="warning_status" property="warningStatus"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="handler_id" property="handlerId"/>
        <result column="handle_time" property="handleTime"/>
        <result column="warning_description" property="warningDescription"/>
        <result column="transferred_to_work_order" property="transferredToWorkOrder"/>
        <result column="model_id" property="modelId"/>
        <result column="task_id" property="taskId"/>
        <result column="valid" property="valid"/>
        <result column="repetition" property="repetition"/>
        <result column="device_id" property="deviceId"/>
        <result column="model_type" property="deviceType"/>
        <result column="device_name" property="deviceName"/>
    </resultMap>

    <select id="getStandPointByWarningId" resultMap = "standPointMap">
        SELECT sp.*,m.model_type
        FROM warnings w
        JOIN models m ON w.model_id = m.model_id
        JOIN algorithms a ON m.algorithm_id = a.algorithm_id
        JOIN algorithm_stand_relate asr ON a.algorithm_id = asr.algorithm_id
        JOIN stand_point sp ON asr.stand_point_id = sp.point_id
        where w.warning_id = #{warningId}
    </select>

    <select id="getDeviceByWarningIdList" resultType="com.hust.ewsystem.DAO.DTO.DeviceDTO">
        SELECT DISTINCT device_id AS deviceId,model_type AS deviceType
        FROM warnings w
        LEFT JOIN models m ON w.model_id = m.model_id
        WHERE w.warning_id IN
        <foreach item="warningId" index="index" collection="records" open="(" separator="," close=")">
            #{warningId}
        </foreach>
    </select>

    <select id="getWarningsCount" resultType="int">
        select COUNT(0) AS warning_count
        from warnings w left join models m on w.model_id = m.model_id
        where m.device_id = #{param.deviceId} and m.model_type = #{param.deviceType} and w.model_id = #{param.modelId} and w.warning_level =#{param.warningLevel} and w.warning_status IN (0,1,3)
        <if test="param.startTime != null">
            AND w.start_time &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            AND w.end_time &lt;= #{param.endTime}
        </if>
    </select>

    <select id="getCount" resultType="com.hust.ewsystem.DAO.DTO.WarnStatusDTO">
        SELECT
        COUNT(CASE WHEN w.warning_status = 0 AND w.warning_level = 1 THEN 1 ELSE NULL END) AS warningLevel1waitDone,
        COUNT(CASE WHEN w.warning_status = 0 AND w.warning_level = 2 THEN 1 ELSE NULL END) AS warningLevel2waitDone,
        COUNT(CASE WHEN w.warning_status = 1 AND w.warning_level = 1 THEN 1 ELSE NULL END) AS warningLevel1waitHangUp,
        COUNT(CASE WHEN w.warning_status = 1 AND w.warning_level = 2 THEN 1 ELSE NULL END) AS warningLevel2waitHangUp,
        COUNT(CASE WHEN w.warning_status = 3 AND w.warning_level = 1 THEN 1 ELSE NULL END) AS warningLevel1waitCloseWait,
        COUNT(CASE WHEN w.warning_status = 3 AND w.warning_level = 2 THEN 1 ELSE NULL END) AS warningLevel2waitCloseWait
        FROM warnings w where model_id = #{modelId}
        <if test="startTime != null">
            AND w.start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND w.end_time &lt;= #{endTime}
        </if>
    </select>

    <select id="selectWarningsPage" resultMap="WarningResultMap">
        SELECT w.*, m.device_id, m.model_type
        FROM warnings w
        JOIN models m ON w.model_id = m.model_id
        WHERE
        (
        (m.model_type = 0 AND m.device_id IN
            (SELECT pf.id
            FROM pv_farm pf
            WHERE (pf.id = #{param.pvFarmId} OR #{param.pvFarmId} IS NULL)))
        OR
        (m.model_type = 1 AND m.device_id IN
            (SELECT cb.id
            FROM combiner_box cb
            WHERE cb.box_id IN
                (SELECT bt.id
                FROM box_trans bt
                WHERE bt.pv_farm_id = #{param.pvFarmId} OR #{param.pvFarmId} IS NULL)))
        OR
        (m.model_type = 2 AND m.device_id IN
            (SELECT i.id
            FROM inverter i
            WHERE i.box_id IN
                (SELECT bt.id
                FROM box_trans bt
                WHERE bt.pv_farm_id = #{param.pvFarmId} OR #{param.pvFarmId} IS NULL)))
        );
        <where>
            <if test="param.startTime != null">
                AND w.start_time &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                AND w.end_time &lt;= #{param.endTime}
            </if>
        </where>
        ORDER BY w.start_time DESC
    </select>

    <select id="selectWarningsDesc" resultMap = "WarningResultMap">
        SELECT
            w.warning_description,
            CASE
            WHEN m.model_type = 0 THEN (SELECT pf.pv_farm_name FROM pv_farm pf WHERE pf.id = m.device_id)
            WHEN m.model_type = 1 THEN (SELECT cb.combiner_box_name FROM combiner_box cb WHERE cb.id = m.device_id)
            WHEN m.model_type = 2 THEN (SELECT i.inverter_name FROM inverter i WHERE i.id = m.device_id)
            ELSE NULL
            END AS device_name
        FROM warnings w
        JOIN models m ON w.model_id = m.model_id
        <where>
            <if test="param.deviceId != null">
                AND m.device_id = #{param.deviceId}
            </if>
            <if test="param.deviceType != null">
                AND m.model_type = #{param.deviceType}
            </if>
            <if test="param.startTime != null">
                AND w.start_time &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                AND w.end_time &lt;= #{param.endTime}
            </if>
            AND w.warning_status != 4
        </where>
        GROUP BY w.warning_description, m.model_type, m.device_id
    </select>

    <select id="selectWarningsNoPage" resultMap="WarningResultMap">
        SELECT
            w.*,
            CASE
            WHEN m.model_type = 0 THEN (SELECT pf.pv_farm_name FROM pv_farm pf WHERE pf.id = m.device_id)
            WHEN m.model_type = 1 THEN (SELECT cb.combiner_box_name FROM combiner_box cb WHERE cb.id = m.device_id)
            WHEN m.model_type = 2 THEN (SELECT i.inverter_name FROM inverter i WHERE i.id = m.device_id)
            ELSE NULL
            END AS device_name
        FROM warnings w
        JOIN models m ON w.model_id = m.model_id
        <where>
            <if test="param.deviceId != null">
                AND m.device_id = #{param.deviceId}
            </if>
            <if test="param.deviceType != null">
                AND m.model_type = #{param.deviceType}
            </if>
            <if test="param.startTime != null">
                AND w.start_time &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                AND w.end_time &lt;= #{param.endTime}
            </if>
            <if test="param.warningDescription != null">
                AND w.warning_description = #{param.warningDescription}
            </if>
            AND w.warning_status != 4
        </where>
        ORDER BY w.start_time DESC
    </select>
</mapper>